<html>
  <body>
    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="7">Overall</th>
          <th colspan="7">Women</th>
          <th colspan="7">Men</th>
        </tr>
        <tr>
          <th>Team</th>
          <th><abbr title="Played">P</abbr></th>

          <th><abbr title="Won">W</abbr></th>
          <th><abbr title="Lost">L</abbr></th>
          <th><abbr title="Tied">T</abbr></th>
          <th><abbr title="No result">NR</abbr></th>
          <th><abbr title="Points">Pts</abbr></th>
          <th><abbr title="Net run rate">NRR</abbr></th>

          <th><abbr title="Played">P</abbr></th>
          <th><abbr title="Won">W</abbr></th>
          <th><abbr title="Lost">L</abbr></th>
          <th><abbr title="Tied">T</abbr></th>
          <th><abbr title="No result">NR</abbr></th>
          <th><abbr title="Points">Pts</abbr></th>
          <th><abbr title="Net run rate">NRR</abbr></th>

          <th><abbr title="Played">P</abbr></th>
          <th><abbr title="Won">W</abbr></th>
          <th><abbr title="Lost">L</abbr></th>
          <th><abbr title="Tied">T</abbr></th>
          <th><abbr title="No result">NR</abbr></th>
          <th><abbr title="Points">Pts</abbr></th>
          <th><abbr title="Net run rate">NRR</abbr></th>
        </tr>
      </thead>
      <tbody>
        {{ range .Rows }}
        <tr>
          <td>{{ .Team }}</td>
          <td>{{ .Combined.Played }}</td>
          <td>{{ .Combined.Won }}</td>
          <td>{{ .Combined.Lost }}</td>
          <td>{{ .Combined.Tied }}</td>
          <td>{{ .Combined.NoResult }}</td>
          <td>{{ .Combined.Points }}</td>
          <td>{{ .Combined.NetRunRate | printf "%.3f" }}</td>
          <td>{{ .Women.Played }}</td>
          <td>{{ .Women.Won }}</td>
          <td>{{ .Women.Lost }}</td>
          <td>{{ .Women.Tied }}</td>
          <td>{{ .Women.NoResult }}</td>
          <td>{{ .Women.Points }}</td>
          <td>{{ .Women.NetRunRate | printf "%.3f" }}</td>
          <td>{{ .Men.Played }}</td>
          <td>{{ .Men.Won }}</td>
          <td>{{ .Men.Lost }}</td>
          <td>{{ .Men.Tied }}</td>
          <td>{{ .Men.NoResult }}</td>
          <td>{{ .Men.Points }}</td>
          <td>{{ .Men.NetRunRate | printf "%.3f" }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </body>
</html>
